.details {
  vertical-align: middle;
  display: flex;
  float: right;
  vertical-align: middle;
  background-color: white;
}
  
  .details h2 {
    text-align: center;
  }
  
  .details p {
    text-align: center;
  }
  
  