body {
  overflow-x: hidden; /* Hide scroll bars */
}

.profiles {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: rgba(128, 128, 128, 0.733);
  margin: auto;
  width: 70vw;
  height: 40vh;
}
  
.profilePic {
  margin-top: 3%;
  margin-left: 5%;
  height: 75%;
  width: 25%;
  vertical-align: middle;
}
  
.details {
  display: flex;
  flex-direction: column;
  justify-content: justify;
  padding: 10px;
  margin-top: 3%;
  float: right;
  margin-right: 5%;
  height: 75%;
  width: 60%;
  vertical-align: middle;
  background-color: white;
}

.details h2 {
  text-align: center;
}

.details p {
  text-align: center;
}

.hire {
  margin-bottom: 20px;
  float: right;
  width: 25%;
  height: 20%;
  background-color: rgba(55, 55, 198, 0.665);
}

.searchBar {
  width: 90vw;
  height: 5vh;
  margin-left: 5%;
  text-align: center;
  vertical-align: middle;
}

.searchDiv{
  display: flex;
  flex-direction: row;
}
/* 
#searchBtn{
  width: 25%;
  height: 20%;
} */

#cityInput{
  width: 25%;
  height: 20%;
}

.resultsBar {
  text-align: center;
}

footer {
  height: 20vh;
  width: 100vw;
  background-color: black;
}
