html{
  overflow-x: hidden;
}

.homeBody{
  overflow-x: hidden; /* Hide scroll bars */
  font-family: 'Arial', sans-serif;
  color: #000; /* Black text */
  background-image: url("https://img.freepik.com/premium-vector/assorted-hand-tools-pattern-white-background_450837-98.jpg");
  /* background-repeat: repeat-y; */
  background-size: 357px;
}

.Logo{
  /* margin-top: 2%; */
  /* margin-left:3%; */
  display: flex;
  width: 100vw;
  height: 20vh;
  background-image: linear-gradient(90deg, #d0adf0 0%, #e0c1fb 20%, #a45ee1 35%,  #3d046b 100%);
  color: white;
  box-shadow: 1px 2px 5px black;

}

.Logo img{
  width: 15%;
  height: 100%;
  box-shadow: 2px 2px 8px black;

}

.Logo p{
  font-family:Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin: auto;
}

.searchBar {
  width: 30vw;
  height: 5vh;
  margin-left: 55%;
  text-align: center;
  border-radius: 50px;
  border: black solid 3px;
  font-size: 18px;
  background-color:white;
  color: black;
  background-image: url("https://cdn.discordapp.com/attachments/1254932815963881514/1263483225351655475/image.png?ex=669a65f3&is=66991473&hm=a38f2711a53c650bc86d8eb956b19bfcb09b90ae47ddda3b496e5cd4174460ad&");
  background-repeat: no-repeat;
  background-position: calc(100% - 10px) center;
  background-size: 8%;
  box-shadow: 2px 2px 80px rgba(31, 12, 67, 0.6);
}

.searchBar::placeholder{
  color: rgba(0, 0, 0, 0.7);
}

#cityInput::placeholder{
  color: rgba(0, 0, 0, 0.7);
}
#cityInput {
  width: 30vw;
  height: 5vh;
  margin-left: 65%;
  text-align: center;
  border: 3px solid black;
  border-radius: 50px;
  font-size: 18px;
  background-color: white;
  color: black;
  background-image: url("https://cdn.discordapp.com/attachments/1254932815963881514/1263488427501027438/image.png?ex=669a6acb&is=6699194b&hm=905958fc9812e5f35da95bfc8f2467dccb7144786fbc437c33e16403ac3bea05&");
  background-repeat: no-repeat;
  background-position: calc(100% - 10px) center;
  background-size: 6%;
  box-shadow: 2px 2px 80px rgba(31, 12, 67,0.6);
}

.searches{
  display: flex;
  margin-top: 4%;
  /* 
  width: 100vw;
  height: 10vh;
  align-items: center;
  /* border-radius: 30px; */
  background-color: rgb(150, 93, 200)
}

#searchIcon{
  width: 3%;
  height: 1%
}

.resultsBar {

  margin-top:1%;
  width: 100vw;
  height: 5vh;
  text-align: center;
  background-color: rgb(24, 0, 58);
  font-weight: lighter;
  /* color:white; */
  padding: 10px;
  color: white;
  box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.444);

} 

.profDiv {
  display: flex;
  flex-wrap: wrap; 
  width: 100%;
  padding: 20px;
  background-color:  rgb(199, 195, 195);
  box-shadow: 1px 2px 5px black;
}

.profiles {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color:rgb(166, 113, 241); 
  margin: auto;
  margin-bottom: 20px;
  border-radius: 10px; 
  width: 45%;
  height: 40vh;
  color: #FFF;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.profilePic {
  margin-top: 4%;
  height: 75%;
  /* padding-right: 15px; */
  margin-right: 20px;
  width: 25%;
  border-radius: 25px;
  border: #3d046b solid 5px;
  vertical-align: middle;
  background-color: white;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: justify;
  padding-bottom: 5%;
  padding-right: 2%;
  margin-top: 3%;
  float: right;
  margin-right: 5%;
  height: 75%;
  width: 60%;
  vertical-align: middle;
  background-color: white;
  color: black;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.details h2 {
  text-align: center;
  color: black;
}

.details p {
  text-align: center;
  color: black;
}

.hire {
  margin-bottom: 0.1%;
  float: right;
  width: 25%;
  height: 20%;
  background-color: #b967fc; /* Yellow background */
  color: black;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bolder;
  cursor: pointer;
}

.hire:hover {
  background-color: #8B4513; /* SaddleBrown background */
  color: #FFF; /* White text */
}

/* Footer */
footer {
  height: 20vh;
  width: 100vw;
  background-color: black;
  color: yellow;
  text-align: center;
  padding: 20px;
}
