.profiles{

    display: flexbox;
    flex-direction: row;
    justify-content: end;
    background-color:rgba(128, 128, 128, 0.733);
    margin: auto;
    width: 70vw;
    height: 40vh;
}

.profilePic{

    margin-top: 3%; 
    margin-left: 5%;
    height:75%;
    width: 25%;
    vertical-align: middle;
}

.details{

    margin-top: 3%; 
    float:right;
    margin-right: 5%;
    height:75%;
    width: 60%;
    vertical-align: middle;
    background-color: white;
}

.details h2{
    text-align: center;
}

.details p{
    text-align: center;
}

.hire{
    margin-top: 0;
    float: right;
    width: 25%;
    height: 20%;
    background-color: rgba(55, 55, 198, 0.665);
}

.searchBar{
    width : 90vw;
    height: 5vh;
    /* background-color: rgb(165, 233, 248); */
    margin-left: 5%;
    text-align: center;
    vertical-align: middle;
}

.resultsBar{
    text-align: center;
}
footer{
    height:20vh;
    width:100vw;
    background-color: black;
}