.welcome{
    vertical-align: middle;
    text-align:center;
    overflow: hidden;
}

.welcome button{
    background-color: rgb(144, 39, 242);
    border-radius: 10px;
    margin-left: 2%;
    box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.407);
    width: 20%;

}